#card {
    position: absolute;
    top: $ui-margin;
    left: $ui-margin;
    background-color: $dark;

    #subCard h2 {
        padding: 0 1.5rem;
    }

    #mainCard h2 {
        font-weight: bold;
        font-size: $ui-fs;
    }

    .bar {
        background-color: $light;
        color: $dark;
        padding: 1rem 1.5rem;
        margin-top: .75rem;
    }

    #mainCard > dl {
        padding: 1.5rem;
        padding-right: 4rem;
        position: relative;
    }

    dl .container:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    dt, dd {
        display: inline;
        line-height: 1.5rem;
    }
    dt {
        color: $grey;

        &:after {
            content: ' :';
        }
    }

    .highlight {
        color: $light;
    }

    sup {
        position: relative;
        bottom: .4rem;
        font-size: 0.8rem;
    }

    #helpStar {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
        height: $ui-size;
        width: $ui-size;
        border-radius: 50%;
        background-color: $color;
        line-height: $ui-size;
        padding-left: .65rem;
        font-size: $ui-fs;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: $inter;
            color: $dark;
        }
    }

    #simbad {
        position: absolute;
        height: $ui-size;
        line-height: 2rem;
        background-color: $dark;
        color: $light;
        padding: 0 1.5rem;

        &:hover {
            background-color: $inter;
            color: $dark;
        }
    }
}
