#coordinates, #starsLabels {
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 0;
    left: 0;

    div {
        position: absolute;
        left: 0;
        top: 0;
        text-shadow:
            -1px -1px 0 $color,
             0   -1px 0 $color,
             1px -1px 0 $color,
             1px  0   0 $color,
             1px  1px 0 $color,
             0    1px 0 $color,
            -1px  1px 0 $color,
            -1px  0   0 $color;

        &.hide {
            display: none;
        }
    }
}
#starsLabels div {
    font-size: 0.9rem;
    text-shadow: none;
    color: #000074;
}
