@import 'vars';
@import 'reset';

// :root {
//     font-family: 'Fira Code';
//     font-size: $ui-fs;
//     color: $light;
// }

main {
    height: 100vh;
    width: 100vw;
}

button {
    display: inline-block;
    background-color: $dark;
    color: $light;
    border: none;
    border-radius: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    font: inherit;
    font-size: $ui-fs;

    :focus {
        outline: $ui-focus;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}
input {
    display: inline-block;
    margin: 0;
    padding: 0 .5rem;
    border: none;
    border-radius: 0;
    font: inherit;
    font-size: $ui-fs;
    height: 1.5rem;
    line-height: 1.5rem;

    &:invalid {
        outline: 2px red solid;
    }
}

#options {
    position: absolute;
    top: $ui-margin;
    right: $ui-margin;
    font-size: $ui-fs;
    width: 15rem;
    z-index: 50;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    h3 {
        margin-bottom: 1rem;
        font-size: $ui-fs;
        background-color: $light;
        color: $color;
        padding-left: 1rem;
    }

    fieldset {
        border: $ui-border-size $light solid;
        padding: 1rem;
        background-color: $color;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }

    legend {
        display: inline-block;
        position: relative;
        bottom: -.3rem;
        height: 1rem;
        margin-top: -1rem;
        margin-bottom: 0;
        background-color: $color;

        &:before, &:after {
            content: ':';
        }
    }
}

list-select {
    --max-height: 10rem;
}

// list-box:not(:last-child),
// list-select:not(:last-child),
// list-checkbox:not(:last-child) {
//     margin-bottom: .5rem;
// }
fieldset > *:not(:last-child) {
    margin-bottom: .75rem;
}

object-info {
    position: absolute;
    z-index: 100;
    top: $ui-margin;
    left: $ui-margin;
    font-size: $ui-fs;
}

space-canvas {
    background-color: $color;
}

floating-labels {
    font-size: $ui-fs;
    position: absolute;
    z-index: 10;
}

#starsNames {
    text-shadow: none;
    color: #000074;
}

#layer-buttons {
    margin-bottom: 1rem;
}

[type=button] {
    box-sizing: border-box;
    &:focus {
        outline: $ui-focus;
    }
    &:hover {
        background-color: $inter;
        color: $dark;
    }
}

@import 'ui';
@import 'fonts';
